

NET "ESTADOS[2]" IOSTANDARD = LVTTL;
NET "ESTADOS[1]" IOSTANDARD = LVTTL;
NET "ESTADOS[0]" IOSTANDARD = LVTTL;
NET "C" IOSTANDARD = LVTTL;
NET "CA" IOSTANDARD = LVTTL;
NET "CLK" IOSTANDARD = LVCMOS33;
NET "D" IOSTANDARD = LVTTL;
NET "P" IOSTANDARD = LVTTL;


NET "C" LOC = H13;
NET "D" LOC = D18;
NET "P" LOC = F12;
NET "ESTADOS[2]" LOC = F9;
NET "ESTADOS[1]" LOC = E9;
NET "ESTADOS[0]" LOC = D11;
NET "CLK" LOC = C9;
NET "CA" LOC = E12;
